.json-code-block {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    hyphens: auto !important;
    overflow: hidden;
}

code {
    white-space: pre-wrap !important;
}